<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="member">
    <insert id="save" parameterType="member">
        insert into member_table(memberId,memberPassword,memberEmail,memberName,memberPhone,memberBirth,memberCreatedDate,memberAddress)
                    values (#{memberId},#{memberPassword},#{memberEmail},#{memberName},#{memberPhone},#{memberBirth},now(),#{memberAddress})
    </insert>

    <select id="login" parameterType="member" resultType="member">
        select*from member_table where memberId =#{memberId} and memberPassword=#{memberPassword}
    </select>

    <select id="findId" parameterType="String" resultType="String">
    select memberId from member_table where memberEmail=#{memberEmail}
    </select>
    <select id="findPassword" parameterType="member" resultType="String">
        select memberPassword from member_table where memberId=#{memberId} and memberPhone=#{memberPhone}
    </select>
    <select id="findById" parameterType="Long" resultType="member">
    select*from member_table where m_id=#{m_id}

    </select>
    <delete id="delete" parameterType="String">
        delete from member_table where memberId=#{memberId} and memberPassword=#{memberPassword}
    </delete>
</mapper>














